.App {
  font-family: sans-serif;
  text-align: center;
}
.input-container {
  display: flex;
}
.input {
  padding: 10px;
  margin: 5px;
  width: 30px;
  height: 20px;
  text-align: center;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: antiquewhite;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btn-container {
  display: flex;
}
.btn {
  width: 70px;
  margin: 5px;
  text-align: center;
  padding: 5px;
}

.start {
  background-color: green;
  border-radius: 5px;
  border: none;
  color: white;
}
.stop {
  background-color: rgb(240, 138, 36);
  border-radius: 5px;
  border: none;
  color: white;
}
.reset {
  background-color: red;
  border-radius: 5px;
  border: none;
  color: white;
}
